{% extends 'CIRBundle:Default:base.html.twig' %}

{% block body %}
Welcome to Meiko America Chicago's Inventory Web Portal!

<p>If you have any questions regarding the information found here, please contact our Chicago office. </p>

<p>Phone : +1 630-766-1492</p>



{% endblock %}