{% extends 'CIRBundle:Default:base.html.twig' %}


{% block body %}
<div id="content-box">
   <div class="inventorysearch" style="text-align: center;" ><p style="font-size: 2em">{{ message }}</p>
   <p><a href="{{ path('cir_home') }}">Go Home</a></p></div>
</div>
{% endblock %}