<div class="center">
<ul class="inv_choice">
    <li><a href="{{ path('edit_editda') }}">DA Info</a></li>
    <li><a href="{{ path('edit_editparts') }}">Sub Part Info</a></li>
    <li><a href="{{ path('edit_shippedhome') }}">Shipment Activity Info</a></li>
</ul>
</div>